#inputImage{
	border: none;
	border-radius: 5px;
	background: #fff4f4;
	box-shadow:  -12px -12px 11px #f0e5e5, 12px 12px 11px #ffffff;
    width: 500px;
}

.notShow{
	display: none;
}

.bounding-box{
	position: absolute;
	box-shadow: 0 0 0 3px #fc030f inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}